theorem, corollary {
    padding: 5px;
    border-radius: 4px;
    background: #eee;
    display: block;
    color: black;
    font-size: 17px;
    font-family: 'Site';
    font-style: italic;
}

chapter {
    display: block;
    margin-top: 4em;
    font-family: header;
    font-style: bold;
    font-size: 2em;
    text-align: center;
}

/* section {
    margin-top: 4em;
    display: block;
    font-family: header;
    font-style: bold;
    font-size: 2em;
}
 */
subsection {
    display: block;
    font-family: header;
    font-style: bold;
    font-size: 1.5em;
}
